form(action="/newbook" method="POST" class="form")
    .form-group
        label(for="title") Title:
        input.form-control(type="text" name="title" id="title" required)

    .form-group
        label(for="author") Author:
        input.form-control(type="text" name="author" required)

    .form-group
        label(for="year_of_publish") Year of Publish:
        input.form-control(type="number" name="year_of_publish" required)

    .form-group
        label(for="page_number") Page Number:
        input.form-control(type="number" name="page_number" required)

    .form-group
        label(for="synopsis") Synopsis:
        textarea.form-control(name="synopsis" required)

    .form-group
        label(for="genre") Genre:
        input.form-control(type="text" name="genre" required)

    .form-group
        label(for="type") Type:
        input.form-control(type="text" name="type" required)

    .form-group
        label(for="cover") Cover:
        input.form-control(type="text" name="cover" required)

    input.btn.btn-primary(type="submit" value="Create Book")